<script>
  import Footer from "./footer.html";

  import { API_URL, PRIVATE_API_URL } from "$env/static/private";

  console.log("view: ", API_URL, PRIVATE_API_URL);
</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.scss" />
    <title>Home</title>
  </head>
  <body data-barba="wrapper">
    <div data-barba="container">
      <img src="/favicon.png" alt="" />
      <div>
        <p>Hello</p>
      </div>

      <form action="/home" method="post">
        <input type="text" name="age" value="1" />
      </form>

      <!-- {#if a}
        <p>hello</p>
      {/if} -->

      <!-- {#if b $ 10}
        <p>hello</p>
      {/if} -->

      <img src="./img.png" />

      <Footer />
    </div>

    <script type="module" src="./app.ts"></script>
  </body>
</html>
