<script data-svelte>
  import Footer from "./footer.html";
</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.scss" />
    <title>Home</title>
  </head>
  <body>
    <img src="/favicon.png" alt="" />
    <div>
      <p>Hello</p>
    </div>

    <img src="./img.png" />

    <Footer />

    <script type="module" src="./app.ts"></script>
  </body>
</html>
